<!--<h1><center><%= @greeting %></center></h1> -->
<h1><center>Commercial Information Vendor Registration Form</center> </h1>
&nbsp;
&nbsp;
<%= form_for(@form) do |f| %>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Organization Name:</label>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Contact Name:</label>
    <%= f.text_field :user %>
  </div>

  <div class="field">
    <label class="control-label col-sm-2" for="oname">Email:</label>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Address:</label>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">City:</label>
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Zip Code:</label>
    <%= f.text_field :zip %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Business Phone:</label>
    <%= f.text_field :busphone %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Cell Phone:</label>
    <%= f.text_field :cell %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Website:</label>
    <%= f.text_field :website %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Business ID:</label>
    <%= f.text_field :busID %>
  </div>
  
  <div class="field">
    <label class="control-label col-sm-2" for="oname">Product(s)/Services:</label>
    <%= f.text_field :product %>
  </div>
  
  <label>Equipment Rental: </label><br/>
  <%= select_tag :numTables, "<option>0</option> <option>1</option> <option>2</option> <option>3</option>".html_safe %>
  <%= label_tag("6' Table ($10)") %> <br/>
  <%= select_tag :numChairs, "<option>0</option> <option>1</option> <option>2</option> <option>3</option>".html_safe %> 
  <%= label_tag("Folding Chair ($5)") %> <br/>
  <%= select_tag :numbrellas, "<option>0</option> <option>1</option> <option>2</option> <option>3</option>".html_safe %> 
  <%= label_tag("11' Market Umbrella ($50)") %> <br/>
  <%= select_tag :numTents, "<option>0</option> <option>1</option> <option>2</option> <option>3</option>".html_safe %> 
  <%= label_tag("10'x10' Food Service Tent ($110)") %>  <br/>

  
  <div class="actions" align="left">
    <%= f.submit %>
  </div>
 
<% end %>
