<%= form_for(@form) do |f| %>
  
  <div class="field">
    <%= f.label "Organization name" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "Contact name" %>
    <%= f.text_field :user %>
  </div>
  
  <div class="field">
    <%= f.label "Email" %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label "Address" %>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <%= f.label "City" %>
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label "Zip code" %>
    <%= f.text_field :zip %>
  </div>
  
  <div class="field">
    <%= f.label "Business phone" %>
    <%= f.text_field :busphone %>
  </div>
  
  <div class="field">
    <%= f.label "Cell phone" %>
    <%= f.text_field :cell %>
  </div>
  
  <div class="field">
    <%= f.label "Website" %>
    <%= f.text_field :website %>
  </div>
  
  <div class="field">
    <%= f.label "Tax id" %>
    <%= f.text_field :taxID %>
  </div>
  
  <div class="field">
    <%= f.label "Product(s)/services" %>
    <%= f.text_field :product %>
  </div>
  
  <div class="field">
    <center>
    <%= label_tag("Non-Profit Organization Type") %> <br/>
    <%= radio_button_tag(:orgtype, "sales") %>
    <%= label_tag("Sales") %> <br/>
    <%= radio_button_tag(:orgtype, "information") %>
    <%= label_tag("Information") %> <br/>
    </center>
  </div>
  
  <%= select_tag :numTables, "<option>0</option> <option>1</option> <option>2</option> <option>3</option>".html_safe %>
  <%= label_tag("6' Table ($10)") %> <br/>
  <%= select_tag :numChairs, "<option>0</option> <option>1</option> <option>2</option> <option>3</option>".html_safe %> 
  <%= label_tag("Folding Chair ($5)") %> <br/>
  <%= select_tag :numbrellas, "<option>0</option> <option>1</option> <option>2</option> <option>3</option>".html_safe %> 
  <%= label_tag("11' Market Umbrella ($50)") %> <br/>
  <%= select_tag :numTents, "<option>0</option> <option>1</option> <option>2</option> <option>3</option>".html_safe %> 
  <%= label_tag("10'x10' Food Service Tent ($110)") %> <br/>
  
  <div class="actions">
    <%= f.submit %>
  </div>
 
<% end %>